
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans',serif;
}


.margin-alert{
  margin-top: 40px;
}

.size-img-modal{
  width: 150px !important;
}

.my-1{
  font-size: 25px;
  text-align: center;
  margin-top: 30px !important;
}

.table-scroll {
  overflow-y:hidden;
}